<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            user-select: none;
        }

        body {
            min-height: 100vh;
            background: linear-gradient(90deg, #3A3C41, #1F2024);
            color: white;
        }

        .main-menu {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 60px;
            overflow: hidden;
            background: #0009;
            transition: width .05s linear;
            z-index: 10;
            padding-top: 10px;
        }

        .main-menu:hover {
            width: 220px;
            overflow: visible;
        }

        .main-menu > ul > li {
            width: 220px;
            position: relative;
        }

        .main-menu > ul > li > a {
            display: flex;
            align-items: center;
            color: white;
            font-size: 1rem;
            transition: all 0.1s linear;
            padding: 10px;
            font-weight: bold;
        }

        .nav-icon {
            width: 60px;
            height: 20px;
            font-size: 20px;
            text-align: center;
        }

        .nav-text {
            width: 160px;
            height: 20px;
            font-family: "Mulish", sans-serif;
        }

        .logout {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .main-menu li:hover > a, .main-menu li.active > a {
            color: #fff;
            background-color: #90c9a7;
        }

        .logo {
            margin-left: 10%;
            padding-bottom: 20px;
        }

        .logo-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
        }

        .main-menu:hover .logo-img {
            transform: scale(1.2);
            margin-left: 30%;
        }

        .submenu {
            display: none;
            position: absolute;
            left: 220px;
            top: 0;
            background: #333;
            width: 180px;
        }

        .main-menu li:hover .submenu {
            display: block;
        }

        .submenu li a {
            padding: 10px;
            color: white;
            font-size: 0.9rem;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
        }

        .submenu li a:hover {
            background: #90c9a7;
        }

        .theme-button {
            position: fixed;
            top: 20px;
            left: 20px;
            background-color: #90c9a7;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 8px;
            z-index: 1000;
        }

        @media (max-width: 500px) {
            .theme-button {
                top: 5px;
                left: 20%;
            }
        }
    </style>
</head>
<body>

<nav class="main-menu">
    <ul>
        <br>
        <li class="logo">
            <img src="imagenes/logovianco_verde-removebg-preview.png" alt="Logo" class="logo-img"/>
        </li>

        <li>
            <a href="javascript:window.history.back();">
                <i class="fa fa-arrow-left nav-icon"></i>
                <span class="nav-text">Atrás</span>
            </a>
        </li>
        <br>

        <li class="active">
            <a href="/menu">
                <i class="fa fa-home nav-icon"></i>
                <span class="nav-text">Inicio</span>
            </a>
        </li>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-truck-pickup nav-icon"></i>
                <span class="nav-text">Operaciones</span>
            </a>
            <ul class="submenu">
                <li><a href="/operaciones/crear">Crear Operación</a></li>
                <li><a href="/operaciones/ver">Ver Operaciones</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="/menuGerencia">
                <i class="fa fa-briefcase nav-icon"></i>
                <span class="nav-text">Gerencia</span>
            </a>
               <ul class="submenu">
                <li><a href="/operaciones/crear">Crear Operación</a></li>
                <li><a href="/operaciones/ver">Ver Operaciones</a></li>
            </ul>
            <ul class="submenu">
                <li><a href="/gerencia/reporte">Reportes</a></li>
                <li><a href="/gerencia/estadisticas">Estadísticas</a></li>
            </ul>
               <ul class="submenu">
                <li><a href="/operaciones/crear">Crear Operación</a></li>
                <li><a href="/operaciones/ver">Ver Operaciones</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="/menugestion_de_calidad">
                <i class="fa fa-check-circle nav-icon"></i>
                <span class="nav-text">Gestión de calidad</span>
            </a>
               <ul class="submenu">
                <li><a href="/operaciones/crear">Crear Operación</a></li>
                <li><a href="/operaciones/ver">Ver Operaciones</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="/menucontabilidad">
                <i class="fa fa-file-alt nav-icon"></i>
                <span class="nav-text">Gestión administrativa</span>
            </a>
               <ul class="submenu">
                <li><a href="/operaciones/crear">Crear Operación</a></li>
                <li><a href="/operaciones/ver">Ver Operaciones</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="/menucomercial">
                <i class="fa fa-shopping-cart nav-icon"></i>
                <span class="nav-text">Comercial</span>
            </a>
        </li>
        <br>
        <li>
            <a href="/menu_geolocalizacion">
                <i class="fa fa-map-marker-alt nav-icon"></i>
                <span class="nav-text">Geolocalización</span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-cogs nav-icon"></i>
                <span class="nav-text">Soporte</span>
            </a>
        </li>

        <li>
            <a href="/logout">
                <i class="fa fa-right-from-bracket nav-icon"></i>
                <span class="nav-text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>
